.masthead-heading{
    margin-top: 2.5rem;
}

.row {
    --bs-gutter-x: 3.5rem;
}

.lead {
    text-align: center;
}

.page-section .page-section-heading {
    padding-top: 3rem;
}

.portfolio .portfolio-item {
    cursor: inherit;
    margin: 1rem auto;
    max-width: 55rem;
}

.col-lg-4 {
    margin: auto;
}

.col-xl-7 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.mb-3 {
    margin-top: -3rem;
    margin-bottom: -5rem;
}

.lead b {
    font-weight: 900;
}

.author-photo {
    display: block;
    margin: auto;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 50%;
}

.poll-section {
    background-color: rgb(245, 245, 255);
    border: 2px solid rgb(224, 233, 236);
    border-radius: 25px;
    font-style: italic;
    margin: 3rem 10rem 0 8rem;
    padding: 1rem 1rem;
}

.img-main {
    position: relative;
    top: -96px;
    width: 118%;
}

.img-blog {
    width: 100%;
    height: auto;
}

.poll-section h5 {
    font-style: normal;
}

.poll-section ul {
    padding: 0;
    list-style: none;
}

.btn-primary {
    margin-top: 0.5rem;
}

.form-group.msg {
    color: red;
}

.search-result-list {
    list-style: none;
}