.masthead-heading{
    margin-top: 2.5rem;
}

.row {
    --bs-gutter-x: 3.5rem;
}

.portfolio .portfolio-item {
    cursor: inherit;
    margin: auto;
    max-width: 55rem;
}

.col-lg-4 {
    margin: auto;
}

.col-xl-7 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.mb-3 {
    margin-top: -3rem;
    margin-bottom: -5rem;
}

.lead b {
    font-weight: 900;
}

.author-photo {
    border: 1px solid rgb(198, 198, 198);
    border-radius: 50%;
}

.poll-section {
    background-color: rgb(245, 245, 255);
    border: 2px solid rgb(224, 233, 236);
    border-radius: 25px;
    font-style: italic;
    margin: 3rem 10rem 0 10rem;
    padding: 1rem 1rem;
}

.img-blog {
    width: 100%;
    height: auto;
}

.poll-section h5 {
    font-style: normal;
}

.poll-section ul {
    padding: 0;
    list-style: none;
}

.btn-primary {
    margin: 0.15rem;
}
