{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block masthead %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            {% image page.main_image fill-1200x600 %}
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">{{ page.title }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
        </div>
    </header>
{% endblock masthead %}


{% block content %}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        {% comment %} <div class="col-md-6 col-lg-4 mb-5"> {% endcomment %}
            <div class="portfolio-item mx-auto, text-center">
                <p class="lead"><b>Author: </b>{{ page.owner.profile.name }}</p>
                {% image page.owner.profile.photo fill-100x100 class="author-photo" %}
                <p>Published: <b>{{ page.last_published_at }}</b></p>
                {% for block in page.text %}
                    {{ block }}
                {% endfor %}
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
</section>

{% endblock content %}

<!-- on blog detail add JS -->
{% block extra_js %}
    <script src={% static "polls/js/polls.js" %}></script>
{% endblock extra_js %}